.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
}
.form input {
    font-size: 20px;
}
.title {
    margin: 10px 0;
    color: lightgray;
}
#loginError {
    color: red;
    display: none;
}
#nameError {
    color: red;
    display: none;
}
#lastnameError {
    color: red;
    display: none;
}
#passwordError {
    color: red;
    display: none;
}
.genderContainer {
    display: flex;
}
#loginButton {
    margin-top: 15px;
    cursor: pointer;
    outline: none;
    font-size: 20px;
}
